<div class="flex w-screen h-screen">
    <%= live_component(
          @socket,
          CallCountWeb.SideNavLive
        )
    %>
  <div class="w-full h-full bg-gray-400 bg-opacity-25">
    <div class="h-1/6">
      <div class="w-full bg-gray-300 bg-opacity-25 h-4/6 border-b-2 border-primary-light text-center">
                <h1 class="pt-4 font-bold text-4xl text-primary">Call Center Analytics</h1>
      </div>
      <div class="w-full bg-gray-300 bg-opacity-25 h-2/6 border-b-2 border-primary-light px-5 flex flex-wrap content-center">
      <a href="" class="border-2 border-secondary rounded-full font-bold hover:text-white text-secondary px-3 py-1 transition duration-100 ease-in-out hover:bg-secondary mr-6">
    Call Count</a>
      </div>
    </div>
    <div class="w-full h-5/6 bg-gray-400 bg-opacity-25 grid 2xl:grid-cols-4 grid-cols-2 grid-rows-2 relative gap-2 py-5 px-5">
      <%= live_component(
          @socket,
          CallCountWeb.TotalCallCountLive,
          calls_today: @calls_today,
          calls_monthly: @calls_monthly,
          calls_yearly: @calls_yearly,
        )
      %>
      <%= live_component(
          @socket,
          CallCountWeb.TenantCallRatioLive
        )
      %>
      <%= live_component(
          @socket,
          CallCountWeb.CallsOverTimeLive
        )
      %>
  </div>
</div>
