<div class="col-span-2 row-start-2 row-end-2 shadow-xl  bg-gray-100 max-w-full max-h-full relative rounded-lg text-center">
    <div class="w-full text-center absolute">
        <h1 class="text-primary text-3xl pt-3 font-bold">Calls Over Time</h1>
    </div>
    <div class="h-full w-full px-2 py-2 rounded-lg flex justify-center">
        <div class="h-3/4 w-full mt-16">
            <canvas id="callsOverTime"></canvas>
        </div>
    </div>
</div>
