<div class="col-start-2 col-end-2 row-start-1 row-end-1 shadow-xl relative bg-gray-100 max-w-full max-h-full rounded-lg">
    <div class="w-full text-center absolute">
        <h1 class="text-primary text-3xl pt-4 font-bold">Tenant Calls</h1>
    </div>

    <div class="h-full w-full px-2 py-2 rounded-lg flex justify-center">
        <div class="h-2/3 w-2/3 mt-16">
            <canvas width="200" height="200" id="tenantCallRatio"></canvas>
        </div>
    </div>
</div>
